  body{
    margin: 0;
    padding: 0;
    background-color:#33415c;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
     
    

 }
h1{
    font-family: 'Shadows Into Light', cursive;
}
.lien{
    cursor: pointer;
    font-size: 25px;
    line-height: 50px;
    font-family: 'Shadows Into Light', cursive;

}
.contener{
    display: flex;
    height: 70vh;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
     
}

#fusee{
    position: absolute;
    width: 15%;
    transform: rotate(135deg);
    transition:   3s;
    top: 0;
    left: 0;
}

.fusee{
    animation: gravité 5s 2s linear infinite;
}

@keyframes gravité {
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 100%;
        left: 0;
        transform: rotate(60deg);
 
    }
    50%{
        left: 100%;
        top: 100%;
        transform: rotate(-60deg);

    }
     75%{
         left: 100%;
         top: 0;
         transform: rotate(-120deg);

 
     }

    100%{
        top: 0;
        right: 0;
        transform: rotate(-200deg);

 
    }
}

.atmo{
    position: relative;
     height: 150px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25%;
    border-radius: 50%;

     }
#planete{
    position: absolute;
    width: 25%;

 }

 .contener-aboutme{
      width: 80%;
     height: 100vh;
     margin-top: 100%;
 }

 .contener-aboutme-top{
     height: 30%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
       
 }

  a{
     text-decoration: none;
     color: black;
 }
 .gras{
     font-weight: bold;
     color: #1B63C7;
 }

 .photo{
     display: flex;
     border: solid rgb(118, 154, 207);
     border-radius: 50%;
     height: 100px;
     width: 30%;
 }
 #photo{
     height: auto;
     width: 100%;
     border-radius: 50%;
  
 }

 .contener-aboutme-bot{
     width: 100%;
     height: 70%;
     display: flex;
     flex-direction: column;
    align-items: center;
     
 }

 .nom{
     color: #979dac;
     font-weight: bolder;
     font-size: 20px;
     line-height: 100px;
      

 }
 
  .bio{
    color: #979dac;
    font-size: 20px;
    line-height: 50px;
    transition: 2s;
 }

 


 #apparition{
    animation: apparition 2s 1s linear 1;
}
@keyframes apparition {
    0%{
       opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
 
 
 .three{
     color:  #43aa8b;
 }


 .contener-works{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
      justify-content: space-between;
     
 }

 .contener-works-top{
     display: flex;
     flex-direction: column;
     width: 80%;
     justify-content: center;
     align-items: center;
 }

 .devweb{
     width: 50%;
 }

 .developpeur{
     font-weight: bolder;
     color: white;
     font-size: 25px;
     line-height: 3;
 }

 .developpeur-description{
     color: #979dac;
     line-height: 2;
     font-size: 18px;
 }

 .contener-works-mid{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
 }

 .langue{
     font-size: 20px;
     color: #1B63C7;
     line-height: 3;

 }
 .langage{
     font-size: 15px;
     color: #43aa8b;
 }

 .contener-works-bot{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
     
 }

 html{
      overflow-y: hidden;
     } 

 .outils{
    font-size: 20px;
     color: #1B63C7;
  }

 li{
    margin: 20px;
	padding: 2px 0 2px 20px;
	list-style: none;
	background-image: url("tete.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
    font-size: 20px;
    color:#43aa8b ;
 }

 .contener-contact{
    width: 80%;
    height: 100vh;
    display: flex;
      align-items: center;
     justify-content: center;
  }

 form{
     width: 80%;
     display: flex;
     flex-direction: column;
    align-items: center;
     background-color: #718cc1;
     justify-content: space-around;
     height: 50%;
     border-radius: 30px;
     font-family: 'Roboto', sans-serif;      

       


 }

 .input{
      width: 80%;
      background-color: rgb(106, 165, 200);
    background-color: none;
    border: none;
     line-height: 2;
     transition: 0.5s;
     font-family: 'Roboto', sans-serif;   
     outline: none;
     color: rgb(76, 73, 73);
     font-weight: bolder;
   

  }

 .contener-input{
     display: flex;
     width: 80%;
     background-color: rgb(106, 165, 200);
    border-radius: 31px;
    align-items: center;
     justify-content: center;
     border: solid #1B63C7 0.5px;
     transition: 0.5s;
        

 }

 

 textarea{
     height: 200px;
     border-top-right-radius: 10%;
     border-top-left-radius: 10%;
     border-bottom-left-radius: 10%;
     border-bottom-right-radius: 10%;
     resize : none;



 }

 .bouton{
    background-color: rgb(106, 165, 200);
    border: none;
    height: 40px;
    border-radius: 10px;
    border: solid #1B63C7 0.5px;
    cursor: pointer;

 }







  